# Vagrant folder
.vagrant

# Flask
elements_projects/flaskProject/flasktest
elements_projects/flaskProject/tutorial-env
elements_projects/flaskProject/venv

#Aurelia
elements_projects/aurelia-front/scripts
elements_projects/aurelia-front/font-awesome
elements_projects/aurelia-front/bootstrap/fonts
elements_projects/aurelia-front/node_modules

# Vim Swap files
*.swp
README.html
elements_projects/flaskProject/__pycache__
